body{
	font-family: 'Inter', sans-serif;
	margin: 0;
}

.container{
	width: 40%;
	margin: 0 auto;
	background-color: #313438;
	height: 100vh;
    position:fixed;
    overflow: auto;
}

a{
	text-decoration: none;
}

.header{
	display: flex;
    width: 40%;
	justify-content: space-evenly;
	color: #fff;
	background: linear-gradient(90deg, rgb(113, 67, 197) 0%, rgb(180, 133, 218) 100%);
	padding: 1em 0;
	align-items: center;
}

.contact-search{
	font-size: 1.2em;
	padding:.3em .3em;
	border-radius: 100px;
	border:1px solid white;
	outline: none;
}


.contacts-library{
	background: #ECF0FF;
}

.add{
	color: #fff;
	font-size: 1.5em;
}

.contact-name{
	color: rgb(3, 0, 0);
	font-size: 1.2em;
}


ul{
	margin: 0;
	padding: 5%;
	width: 90%;
}

.list__item{
	list-style:none;
}

.contact-section{
	display: flex;
    border-radius: 10px;
	align-items: center;
	transition: 0.3s;
    border: solicontactd #494a4b;
    border-style: groove;
    border-width:2px;
    margin-bottom: 5px;
}

.contact-section:hover{
	background-color: #d6d1f0;
}

.text{
	padding-left: 1em;
}
.contact-picture{
    border-radius: 50%;
    width: 50px;
    padding-right: 10px;
    padding-left: 10px;
}